@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.header {
    font-size: 18px;
    padding: 1px 15px 1px 4%;
    background-color: #FFBD35;
    font-family: 'Roboto Mono', monospace; 
}